{% extends 'base.html.twig' %}

{% block title %}Backpack index{% endblock %}

{% block body %}
    <h1>Backpack index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastModif</th>
                <th>PublishedDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for backpack in backpacks %}
            <tr>
                <td>{{ backpack.id }}</td>
                <td>{{ backpack.name }}</td>
                <td>{{ backpack.lastModif ? backpack.lastModif|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ backpack.publishedDate ? backpack.publishedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('backpack_show', {'id': backpack.id}) }}">show</a>
                    <a href="{{ path('backpack_edit', {'id': backpack.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('backpack_new') }}">Create new</a>
{% endblock %}
