{% extends 'base.html.twig' %}

{% block title %}CategoryBackpack index{% endblock %}

{% block body %}
    <h1>CategoryBackpack index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_backpack in category_backpacks %}
            <tr>
                <td>{{ category_backpack.id }}</td>
                <td>{{ category_backpack.name }}</td>
                <td>
                    <a href="{{ path('category_backpack_show', {'id': category_backpack.id}) }}">show</a>
                    <a href="{{ path('category_backpack_edit', {'id': category_backpack.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_backpack_new') }}">Create new</a>
{% endblock %}
